html {
    --primary-color: #6C805A;
    /*color til baggrund*/

    --secondary-color: #E4E4E4;
    /*til font h1 og h2*/

    --tertiary-color: #363636;
    /*til font, heraf h3 og p*/

    --footer-color: #647852;
    /*color til footer*/

    --forår-color: #BCC5B3;
    /*baggrund farve til box*/

    --sommer-color: #EBE1B3;
    /*baggrund farve til box*/

    --efterår-color: #CB9292;
    /*baggrund farve til box*/

    --vinter-color: #F2F2F2;
    /*baggrund farve til box*/
}
nav {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 0px;
    height: 100px;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 0 100px;
    background-color: var(--footer-color);
}

.logocontainer {
    justify-self: end;
}

nav .vild-logo {
    color: var(--tertiary-color);
    font-size: 27px;
    max-width: 80px;
    margin: auto;
}

.logo {
    font-size: 27px;
    max-width: 80px;
    margin: auto;
}

nav ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    justify-self: end;
}

nav ul li {
    margin: 0 5px;
}

nav ul li a {
    color: var(--secondary-color);
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    padding: 8px 15px;
    border-radius: 5px;
    letter-spacing: 1px;
    transition: all 0.3s ease;
}

nav ul li a.active,
nav ul li a:hover {
    color: var(--secondary-color);
    background: var(--primary-color);
}

nav .menu-btn i {
    color: var(--secondary-color);
    font-size: 22px;
    cursor: pointer;
    display: none;
}
.active{
    grid-column: 4;
}
input[type="checkbox"] {
    display: none;
}

@media (max-width: 860px) {
    nav {
        padding: 0 40px 0 50px;
        z-index: 4;
        grid-template-columns: 1fr 1fr 1fr;
    }

    nav .menu-btn i {
        display: block;
        z-index: 4;
    }

    #click:checked~.menu-btn i:before {
        content: "\f00d";
    }

    nav ul {
        position: fixed;
        top: 80px;
        left: -100%;
        background: var(--footer-color);
        height: 100vh;
        width: 100%;
        text-align: center;
        display: block;
        transition: all 0.3s ease;
        z-index: 4;
    }

    #click:checked~ul {
        left: 0;
    }
    .menu-btn{
        justify-self: end;
    }
    .logocontainer{
        justify-self: center;
    }

    nav ul li {
        width: 100%;
        margin: 40px 0;
        z-index: 4;
    }

    nav ul li a {
        width: 100%;
        margin-left: -100%;
        display: block;
        font-size: 20px;
        transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
        z-index: 4;
    }

    #click:checked~ul li a {
        margin-left: 0px;
    }

    nav ul li a.active,
    nav ul li a:hover {
        background: none;
        color: var(--tertiary-color);
    }
}